<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IBI.DataAccess.Properties.Settings.mbta_performanceConnectionString"
            connectionString="Data Source=52.21.161.12;Initial Catalog=mbta_performance;Persist Security Info=True;User ID=ibi;Password=Cellhouse333#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>